{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {background-color: white; font-family: 'Poppins', sans-serif;};
    </style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <title>Confirmation</title>
  </head>
  <body style="display: flex; justify-content: center; align-items: center; width: 650px; height: 350px;  ">
    <div style="background-color:black; padding: 10px; border-radius: 4px;">
      <h1 style="color:white">
        Email Was Successfully verifed you can Go back to website
      </h1>
    </div>
  </body>
</html>
